.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    width: 350px;
    height: 630px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

/* divs surrouding inputs */

.form-group {
    width: 220px;
}

/* inputs */

.form-control {
    background-color: #fff;
    box-shadow: none;
}

.form-control:focus {
    background-color: #fff;
    box-shadow: none;
    border: 1px solid grey;
}

/* create account link */

.form-group-question {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 15px;
    cursor: pointer;
    color:rgb(98, 98, 98);
}

.question-text:hover {
    color:black;
    border-bottom: 1px solid black;
}

/* button */


.btn {
    border: 1px solid rgb(98, 98, 98);
    background-color: rgb(98, 98, 98);
    color: white;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn:active {
    background-color: rgb(98, 98, 98);
}

.btn:focus {
    box-shadow: none;
}

/* loader */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #5c5c5c;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.loader-success {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #00ff40;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

.loader-error {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ff0000;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}