@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  line-height: 1.6;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #010409;
  color: #fff;
  line-height: 1.6;
}